@import '~bootstrap/scss/bootstrap';

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    .nav-item a {
        color:#405189
    }
}

.side-bar {
    background-color: #405189;
}

.side-bar {
    height: 100vh;
}

main {
    height: calc(100vh - 57px);
    background-color: #f3f3f9;
}
