@import '~bootstrap/scss/bootstrap';

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    .nav-item a {
        color:#405189
    }
}

.side-bar {
    background-color: #405189;
}

.side-bar {
    height: 100vh;
}

main {
    height: calc(100vh - 57px);
    background-color: #f3f3f9;
    overflow-y: auto;
    .title {
        color:#405189;
    }
}

.show.container {
    height: calc(100vh - 100px);
    .dc-card {
        border-radius: 0.375rem;
        border: 2px solid rgba(0, 0, 0, 0.175);
        .card-image {
            position: relative;
            img {
                max-height: 500px;
                max-width: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
            .image-name {
                position: absolute;
                bottom: 20px;
                right: 20px;
                color: rgb(255, 128, 0);
            }
        }

        .card-body {
            min-width: 500px;
        }
    }
}

.create-editing.container {
    .thumb img {
        max-height: 150px;
    }
    .ck-editor__editable[role="textbox"] {
        /* editing area */
        min-height: 100px;
        max-height: 200px;
    }
    .ck-content .image {
        /* block images */
        max-width: 80%;
        margin: 20px auto;
    }
}
